{% extends 'auth/_auth_card.html.twig' %}

{% set active_tab = 'register' %}

{% block title %}Créer un compte{% endblock %}

{% block auth_form %}

{{ form_start(registrationForm) }}

    <div class="mb-4">
        {{ form_label(registrationForm.username, 'Adresse e-mail', {
            label_attr: { class: 'auth-label' }
        }) }}

        <div class="auth-input-wrapper">
            <i class="bi bi-envelope"></i>
            {{ form_widget(registrationForm.email, {
                attr: {
                    class: 'auth-input',
                    placeholder: 'votre@email.com'
                }
            }) }}
        </div>

        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="mb-4">
        {{ form_label(registrationForm.username, 'Pseudo', {
            label_attr: { class: 'auth-label' }
        }) }}

        <div class="auth-input-wrapper">
            <i class="bi bi-person"></i>
            {{ form_widget(registrationForm.username, {
                attr: {
                    class: 'auth-input',
                    placeholder: 'VotreHéros42'
                }
            }) }}
        </div>

        {{ form_errors(registrationForm.username) }}
    </div>

    <div class="mb-4">
        {{ form_label(registrationForm.plainPassword, 'Mot de passe', {
            label_attr: { class: 'auth-label' }
        }) }}

        <p class="form-text auth-help">
            Minimum 12 caractères, avec une majuscule, une minuscule,
            un chiffre et un caractère spécial.
        </p>

        <div class="auth-input-wrapper">
            <i class="bi bi-lock"></i>
            {{ form_widget(registrationForm.plainPassword, {
                attr: {
                    class: 'auth-input',
                    placeholder: '••••••••'
                }
            }) }}
        </div>

        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <div class="mb-4 auth-checkbox">
        {{ form_widget(registrationForm.agreeTerms, {
            attr: { class: 'form-check-input' }
        }) }}

        <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
            J’accepte les
            <a href="{{ path('app_terms') }}" target="_blank">
                conditions générales d’utilisation
            </a>
        </label>

        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn auth-submit w-100">
        <i class="bi bi-stars me-2"></i>
        Créer mon compte
    </button>

{{ form_end(registrationForm) }}

{% endblock %}
